[Unit]
Description=Kotlinmud Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/snap/bin/docker run -v game-state:/mud -p 9999:9999 ghcr.io/danielmunro/kotlinmud:v2.3.10

[Install]
WantedBy=multi-user.target