[Unit]
Description=Kotlinmud Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/snap/bin/docker run -v prod-data:/mud/state -p 9999:9999 quay.io/dmunro/kotlinmud:latest

[Install]
WantedBy=multi-user.target