name: Run Gradle Tests
on: push
jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Gradle Tests
        uses: eskatos/gradle-command-action@v1
        env:
          ENV: ci
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          arguments: clean test jacocoTestReport sonarqube -Dsonar.login=${{ secrets.SONARCLOUD }}
      - name: Publish Package
        uses: elgohr/Publish-Docker-Github-Action@master
        if: contains(github.ref, 'refs/tags/v')
        with:
          name: danielmunro/kotlinmud/kotlinmud-docker-image
          username: ${{ secrets.DOCKER_USERNAME_2 }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          tagging: true
      - name: Restart service
        uses: appleboy/ssh-action@master
        if: contains(github.ref, 'refs/tags/v')
        with:
          host: ${{ secrets.HOST }}
          USERNAME: ${{ secrets.USERNAME }}
          PORT: ${{ secrets.PORT }}
          KEY: ${{ secrets.SSHKEY }}
          script: |
            systemctl stop kotlinmud
            /snap/bin/docker system prune -af
            systemctl start kotlinmud